{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-scss",
    "stylelint-use-nesting"
  ],
  "rules": {
    "declaration-colon-space-after": "always",
    "max-empty-lines": 2,
    "unit-whitelist": ["em", "px", "%"],

    "selector-nested-pattern": "^&",
    "indentation": 2,
    "no-descending-specificity": null,
    "no-eol-whitespace": null,
    "declaration-empty-line-before": null
  }
}