/* ===========================
   Base
   =========================== */

html,
body {
  border: 0;
  font-family: $font1;
  font-size: 16px;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: $color-bg;
  color: $color-font-heading;
}

p {
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 20px;
  color: $color-font-paragraph;
}

section {
  border-top: 1px solid $color-border-section;
  padding: 20px 0 0;

  &:first-child {
    border-top: 0;
  }

  &:last-child {
    padding: 20px 0 10px;
  }
}

article,
section {
  display: block;
}

.curriculum {
  width: 90%;
  max-width: 800px;
  background: $color-bg-curriculum;
  margin: 30px auto;
}

.clear {
  clear: both;
}
